body {
    font-family: 'Droid Sans', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: none;
}

.header {
    font-size: 3.5rem;
}

.container {
    width: 80vw;
    margin: 0 auto;
}